<div class="container_page_concept">

<h1>C'est quoi ?</h1>
<p class="pitch_concept">Art Street Home, c'est <span style="font-size:24px">une nouvelle manière de vivre les arts de rue</span>.
Ils permettent à des <b>artistes de rue</b> d'avoir une relation plus intimiste avec leur public, et de <b>se faire connaître</b> petit à petit par des gens qui vont vraiment s'intéresser à eux.<br /> Ces concerts permettent également aux <b>hôtes / spectateurs</b> invitant de découvrir des artistes talentueux, souvent locaux, et de <b>partager entre amis un moment extra-ordinaire…</b></p>

<h2 class="title_concept">Organiser un événement extra-ordinaire avec un artiste de rue</h2>

<div class="container">
  <div class="row">
	<div class="col-4 box_procedure">
		<h4>
		1 - TROUVEZ UN ARTISTE QUI VOUS PLAÎT
		</h4>
		<%= image_tag("trouvez.png", :alt => "oeil de Magritte", size: "150x150") %>
		<p class="text_element_concept">
		Vous avez rencontré un artiste de rue dans le métro, et cherchez à le convier pour un concert privé chez vous. Recherchez dans votre ville les artistes correspondant à vos goûts musicaux, à vos contraintes (dates, petit appartement, voisins difficiles…).
		</p>
	</div>

	<div class="col-4 box_procedure">
		<h4>
		2 - FIXEZ UNE DATE
		</h4>
		<%= image_tag("Ben.png", :alt => "Agenda par Ben", size: "150x180") %>
		<p class="text_element_concept">
		Un artiste vous plaît, envoyez-lui une demande de contact en précisant vos dates de disponibilité.
		</p>
	</div>

	<div class="col box_procedure">
		<h4>
		3 - DÉFINISSEZ LES CONDITIONS
		</h4>
		<%= image_tag("chat-peau.png", :alt => "Le chat au chapeau", size: "220x180") %>
		<p class="text_element_concept">
		Clarifiez dès le départ les conditions du concert. L'artiste joue-t-il au chapeau ou demande-t-il un forfait ? A quelle heure arrive-t-il et commence-t-il à jouer ?
		</p>
	</div>

	<div class="col-4 box_procedure">
		<h4>
		4 - PAYEZ
		</h4>
		<%= image_tag("chapeau billets.png", :alt => "Chapeau rempli de billets", size: "160x180") %>
		<p class="text_element_concept">
		Réglez le forfait du musicien ou les frais de mise en relation (si au chapeau).
		</p>
	</div>

	<div class="col-4 box_procedure">
		<h4>
		5 - INVITEZ VOS AMIS
		</h4>
		<%= image_tag("répertoire de Mathieu.png", :alt => "Le répertoire de Mathieu", size: "520x320") %>
		<p class="text_element_concept">
		Le groupe vient souvent jouer pour se faire connaître et gagner un peu d'argent. Jouez vous aussi le jeu en invitant un max d'amis (en plus ça met de l'ambiance) et en leur expliquant à l'avance le concept !
		</p>
	</div>

	<div class="col-4 box_procedure">
		<h4>
		6 - PROFITEZ !
		</h4>
		<img src="http://im.rediff.com/getahead/2017/feb/22oscars1.gif">
		<p class="text_element_concept">
		Les bières sont ouvertes ? Les cacahuètes salées à souhait ? Réduisez les lumières, fermez les rideaux, et laissez-vous porter !!
		</p>
	</div>
  </div>
</div>

</div>