
<div class ="show_prestation">
	<h1><%= @prestation.titre %></h1>

<div class ="show_prestation_item">
<div class ="container">
<div class ="row">
	<div class="col-md-4">

	<%= image_tag("img_prestation#{@prestation.id}.jpg",:alt =>"Portraitiste", :style => "height:auto; width: 300px;") %>
	</div>
	<div class = "caption" div class="col-md-8">
	<p>Type de spectacle : <%= @prestation.categorie %></p>

	<p>Description : <%= @prestation.description %></p>

	<p>Tarif : <%= @prestation.tarif %> euros </p>

	<p>Durée : <%= @prestation.duree %> </p>

	<p>Lieu : <%= @prestation.lieu %></p>

	<p>Pour en savoir plus : <a href = "#{@prestation.lien}"><%= @prestation.lien %></a></p>
	</div>
</div>
</div>
</div>

<div class ="container">
<div class ="row">
	<div div class="col-md-6">
		<% if artiste_signed_in? %> 
		<%= form_tag "/prestations/#{@prestation.id}", method: "delete" do %>
		  <input type="submit" value="Supprimer la prestation" />
		<% end %>
	</div>
	<div div class="col-md-6">
		<%= form_tag "/prestations/#{@prestation.id}", method: "update" do %>
		  <input type="submit" value="Modifier la prestation" />
		<% end %>
	</div>
	<% end %>
</div>

<p><a href="/prestations">Retourner à l’index des prestations</a></p>
</div>
</div>