<div class="registrations">

<h2>Créer un compte</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Prénom, required: true %>
    <%= f.text_field :user_first_name %>
  </div>
red
  <div class="field">
    <%= f.label :Nom, required: true %>
    <%= f.text_field :user_last_name %>
  </div>

  <div class="field">
    <%= f.label :Mot_de_passe %>
    <%= f.text_field :password, required: true, input_html: { maxlength: 20 } %>
  </div>

  <div class="field">
    <%= f.label :Confirmation_mot_de_passe %>
    <%= f.text_field :password_confirmation, required: true %>
  </div>

  <div class="field">
    <%= f.label :Nom_d_artiste %>
    <%= f.text_field :artist_name, required: true %>
  </div>

  <div class="field">
    <%= f.input :file, label: 'Photo', as: :file %>
  </div>

  <div class="field">
    <%= f.label :Numéro_de_téléphone %>
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="field">
    <%= f.label :rib %>
    <%= f.text_field :rib, required: true %>
  </div>

  <div class="field">
    <%= f.label :Lieu_de_travail %>
    <!--ICI CHAMP DE RECHERCHE + PLUSIEURS REPONSES POSSIBLES-->
    <%= f.text_field :work_area, required: true %>
  </div>

  <div class="field">
    <%= f.label :Description %>
    <%= f.text_field :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :Liens %>
    <%= f.text_field :links %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Créer un compte" %>
  </div>
<% end %>

</div>
