<nav class="navbar navbar-default">
 <div class="container-fluid cl">
   <div class="navbar navbar-toggleable-md navbar-light bg-faded" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li><%= link_to "ARTISTE", root_path, class: "navbarUser", id:"navbarArtiste" %></li>
     </ul>
     <ul class ="nav navbar-nav navbar-right">
       <li><%= link_to "PROFILE", artistes_profile_path, class: "navbarUser" %></li>
       <li><%= link_to "PRESTATION", artistes_prestation_path, class: "navbarUser" %></li>
       <li><%= link_to "CALENDRIER", artistes_calendrier_path, class: "navbarUser" %></li>
       <li><%= link_to "RESERVATIONS", artistes_reservations_path, class: "navbarUser" %></li>
     </ul>
   </div>
 </div><!-- /.container-fluid -->
</nav>
