<!DOCTYPE html>
<html>
  <head>
    <title>Artstreethome</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <main>
      <%= render 'layouts/header' %>
      <% if user_signed_in? %>
        <%= render 'layouts/navbarUser' %>
      <% elsif artiste_signed_in? %>
        <%= render 'layouts/navbarArtiste' %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

<<<<<<< HEAD
  <%= render 'layouts/header' %>
  	
  <main>    
  <%= render 'layouts/navbarUser' %>
  <%= render 'layouts/navbarArtiste' %>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
  <script src="../js/cours.js"></script>

=======
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
>>>>>>> 1d44455e09a559b69d9051ddc0350c9ee1ac2ae8
  </body>

</html>
